.header {
  height: 95vh;
  background-color: rgba($color-black, 0.8);
  background-size: cover;
  background-position: top;
  position: relative;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    transition: all 0.2s;
  }
  &__logo {
    height: 10rem;
    animation: enterFromRight ease-out 3s 1;
    animation-fill-mode: backwards;
  }
}
