.header {
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  background-size: cover;
  background-position: top;
  position: relative;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
  }
  &__logo-box {
    position: absolute;
    top: 10rem;
    left: 4rem;
    transition: all 0.2s;
  }
  &__logo {
    height: 15rem;
    animation: enterFromRight ease-out 3s 1;
    animation-fill-mode: backwards;
  }
}
.back {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  font-size: 5rem;
  color: $color-blue;
  z-index: 1000;
  &:active {
    opacity: 0;
  }
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-grey;
  z-index: 2000;
  &--links {
    list-style: none;
    color: white;
    display: flex;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    flex-wrap: nowrap;

    &-link,
    &:link {
      flex-grow: 1;
      padding: 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 240%;
      transition: all 0.4s;
      &:hover,
      &:active {
        background-position: 100%;
        color: $color-blue;
        // transform: translateX(1rem);
      }
    }
  }
}
