.header {
  text-align: center;
  font-size: 2rem;
  transition: all 0.2s;
}
.header h1:hover {
  transform: skewX(13deg);
}
a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.project {
  display: inline-block;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  margin: 20px;
  width: 200px;
  padding: 20px;
}
