a {
  text-decoration: none;
  &:visited {
    color: $color-black;
  }
}

.project {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // border: 1px solid #eee;
  // box-shadow: 0 2px 2px #ccc;
  // margin: 20px;
  // width: 200px;
  // padding: 20px;
  // transition: all 0.2s;
}

.section-projects {
  margin: 10rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  justify-content: space-between;
  grid-gap: 2rem;
  &__project {
    box-shadow: 0 2px 2px #ccc;
    margin: 20px;
    padding: 20px;
    transition: all 0.5s cubic-bezier(0.04, 0.46, 1, -0.03);
    border-radius: 5px;
    &:hover {
      transform: translateY(-0.5rem) scale(1.1);
      animation: showborder ease-out 4s infinite;
    }
    &-img {
      width: 100%;
    }
  }
}
