.project__a {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: $color-black;
  transition: all 0.2s;
  &:hover {
    border: 2px solid black;
  }
  &:visited {
    color: $color-black;
  }
}

.section-projects {
  margin: 0 10vw;
  text-align: center;
  &__project {
    font-size: 2rem;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
      0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: 8vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &--title {
      background-image: linear-gradient(to right, $color-yellow, $color-blue);
      -webkit-background-clip: text;
      color: transparent;
      font-size: 3rem;
      font-weight: 700;
    }
    &--text {
      padding: 20px;
    }
    &-img {
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
        0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      width: 65%;
      height: 28vh;
      border-radius: 5px;
      transform: all 0.2s;
      margin-top: -12vh;
    }
  }
}
.tech-stack {
  color: black;
  text-align: justify;
  margin-bottom: 20px;
}
.project-introduction {
  text-align: justify;
  // white-space: nowrap;
  // width: 150px;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
