.project__a {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
  &:hover {
    border: 2px solid black;
  }
  &:visited {
    color: $color-black;
  }
}

.section-projects {
  margin: 0 10rem;
  text-align: center;
  &__project {
    font-size: 2rem;
    box-shadow: 0 2px 2px #ccc;
    margin: 20px;
    padding: 20px;
    // border: 2px solid grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    // transition: all 0.5s cubic-bezier(0.04, 0.46, 1, -0.03);
    border-radius: 5px;
    &--text {
      background-color: rgba(128, 128, 128, 0.091);
      padding: 20px;
    }
    &-img {
      width: 50%;
      height: 25vh;
    }
  }
}

.tech-stack {
  color: black;
  // font-weight: 700;
  text-align: justify;
}
.project-introduction {
  text-align: justify;
}
